.bodyClientes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "encabezado encabezado encabezado" 
                        "main main main" 
                        "footer footer footer";
}

.bannerClientes img{
    width: 100%;
}

.nuestrosClientes{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto auto; 
}

.mainClientes h1{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: #17678e;
}

@mixin anchoalto ($width, $height){
    width: $width;
    height: $height;
}

.logosClientes img{
    @include anchoalto(300px, 150px);
    margin: 10px;
}

$areascliente: ("001": "imgCli001", 
"002": "imgCli002",
"003": "imgCli003",
"004": "imgCli004",
"005": "imgCli005",
"006": "imgCli006",
"007": "imgCli007",
"008": "imgCli008",
"009": "imgCli009",
"010": "imgCli010",
"011": "imgCli011",
"012": "imgCli012");

@each $nombre, $valor in $areascliente {
    .imgCli#{$nombre} {
        grid-area: $valor;
    }
}

.logosClientes{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: "imgCli001 imgCli002 imgCli003" "imgCli004 imgCli005 imgCli006" "imgCli007 imgCli008 imgCli009" "imgCli010 imgCli011 imgCli012" "imgCli013 imgCli013 imgCli013";
    width: 90%;
    justify-content: center;
    align-items: center;
}

.logosClientes{
    figure{
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
}

.logosClientes figure:hover::before{
    transform: scale(1) rotate(360deg);
}

.imgFigCli001::before{
    content:"CONUAR";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: scale(0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
}

.imgFigCli002::before{
    @extend.imgFigCli001::before;
    content:"GARMET URUGUAY";
}

.imgFigCli003::before{
    @extend.imgFigCli001::before;
    content:"GOYAIKE";
}

.imgFigCli004::before{
    @extend.imgFigCli001::before;
    content:"MUNCHIS";
}

.imgFigCli005::before{
    @extend.imgFigCli001::before;
    content:"GENTOS ARGENTINA";
}

.imgFigCli006::before{
    @extend.imgFigCli001::before;
    content:"GRUPO LA GLORIOSA";
}

.imgFigCli007::before{
    @extend.imgFigCli001::before;
    content:"HIDROIL";
}

.imgFigCli008::before{
    @extend.imgFigCli001::before;
    content:"CASINOS MAC GROUP";
}

.imgFigCli009::before{
    @extend.imgFigCli001::before;
    content:"SANATORIO MATER DEI";
}

.imgFigCli010::before{
    @extend.imgFigCli001::before;
    content:"OSDEPYM";
}

.imgFigCli011::before{
    @extend.imgFigCli001::before;
    content:"OSTVLA";
}

.imgFigCli012::before{
    @extend.imgFigCli001::before;
    content:"GRUPO PEREZ";
}

.imgFigCli013::before{
    @extend.imgFigCli001::before;
    content:"ROAGRO";
}
