$colorH: #17678e;

*{
    padding: 0;
    margin: 0;
    font-family:sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    box-sizing: border-box;
}

.bodyIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "encabezado encabezado encabezado" 
                        "main main main" 
                        "footer footer footer";
}

.encabezado{
    grid-area: encabezado;
    background-color: #17678e !important;
    height: 60px;
    position:fixed;
    width: 100%;
    display: flex;
    justify-content:space-between;
    z-index: 100;
}

.contenedor{
    width: 65px;
}

.bannerIndex{
    width: 100%;
    height: 300px !important;
    background-size: 100% 100%;
}


.divIndex001{
    display: flex;
    justify-content:center;
    align-items: center;
}

.fimagenPrincipal{
    margin: 30px;
    border-radius: 12px;
    overflow:hidden;
    box-shadow: 5px 8px 12px rgb(53, 53, 53);
    transition: transform 1s;
    img{
        display: flex;
        width: 550px;
        border-radius: 12px;
        
    }
} 

.nav-link{
    &:hover{
        text-decoration: underline;
    }
}

.fimagenPrincipal{
    &:hover{
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }
}

.pDivIndex001{
    display: flex;
    width: 40%;
}

main{
    margin-top: 60px;
    background-color: rgb(213, 212, 210);
    grid-area: main;
}

.seccionPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#h1Index{
    font-size: 25px;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.colorAzul{
    color: $colorH;
}

.negrita{
    font-weight: bold;
}

.seccionPrincipal{
    h2,h3{
        font-size: 25px;
        color: $colorH;
        text-align: center;
    }
    h2{
        margin-top: 15px;
    }
}

.seccionVideo{
    text-align:center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
    h3{
        padding-bottom: 10px;
    }
}

footer{
    display: flex;
    width: 100%;
    height: 50px;
    grid-area: footer;
}

.divPrioridades{
    opacity: 90%;
    width: 200px;
    padding: 2px;
    margin: auto;
    height: 200px;
    border-width: 4px;
    box-shadow: 5px 8px 12px rgb(53, 53, 53);
}

.divServiciosOfrecidos{
    opacity: 90%;
    width: 220px;
    padding: 20px;
    margin: auto;
    height: 300px;
    border-width: 4px;
    box-shadow: 5px 8px 12px rgb(53, 53, 53);
}

.card-body{
    background-color: rgb(213, 212, 210);
}

.ppp{
    background-color: rgb(213, 212, 210);
}

main{
    min-height: 100vh;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.colorBlanco {
    color: rgb(255, 255, 255);
    background-color: #17678e;
    margin: 0;
    opacity: 75%;
}

.colorBlanco2 {
    color: rgb(255, 255, 255);
    margin: auto;
    font-size: 26px;
}

.divBanner{
    top: 15px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.sombra {
    box-shadow: 5px 8px 12px rgb(53, 53, 53);
}