@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bodyIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "encabezado encabezado encabezado"  "main main main"  "footer footer footer";
}

.encabezado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: encabezado;
  background-color: #17678e !important;
  height: 60px;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

.contenedor {
  width: 65px;
}

.bannerIndex {
  width: 100%;
  height: 350px;
  background-size: 100% 100%;
  -webkit-animation: banner 9s infinite;
          animation: banner 9s infinite;
}

@-webkit-keyframes banner {
  0%, 30% {
    background-image: url(../images/banner_index_001.jpg);
    opacity: 1;
  }
  31%, 35% {
    opacity: 0.75;
  }
  35%, 65% {
    background-image: url(../images/banner_index_002.jpg);
    opacity: 1;
  }
  66%, 70% {
    opacity: 0.75;
  }
  71%, 100% {
    background-image: url(../images/banner_index_003.jpg);
    opacity: 1;
  }
}

@keyframes banner {
  0%, 30% {
    background-image: url(../images/banner_index_001.jpg);
    opacity: 1;
  }
  31%, 35% {
    opacity: 0.75;
  }
  35%, 65% {
    background-image: url(../images/banner_index_002.jpg);
    opacity: 1;
  }
  66%, 70% {
    opacity: 0.75;
  }
  71%, 100% {
    background-image: url(../images/banner_index_003.jpg);
    opacity: 1;
  }
}

.divIndex001 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagenPrincipal img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  width: 450px;
  border-radius: 10px 10px;
}

.imagenPrincipal {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.imagenPrincipal:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.pDivIndex001 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

main {
  margin-top: 60px;
  background-color: #d5d4d2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.seccionPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#h1Index {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
  color: #302a7d;
}

.seccionPrincipal h2, .seccionPrincipal h3 {
  font-size: 25px;
  text-decoration: underline;
  padding-bottom: 10px;
  color: #302a7d;
  text-align: center;
}

.seccionVideo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
  text-decoration: underline;
}

.seccionVideo h3 {
  padding-bottom: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.divPrioridades {
  margin-top: 15px;
}

main {
  min-height: 100vh;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.colorBlanco {
  color: white;
  background-color: #17678e;
  margin: 0;
  opacity: 75%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.bannerNosotros img {
  width: 100%;
}

.bodyNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "encabezado encabezado encabezado"  "main main main"  "footer footer footer";
}

.oficinas {
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empleados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5rem;
}

.empleado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  padding: 16px 32px;
  margin: 16px;
  background-color: #E1E1E1;
  border-radius: 15px;
}

.empleado h3 {
  text-align: center;
  margin-bottom: 5px;
  color: #5c5959;
}

.empleado h4 {
  text-align: center;
  margin-bottom: 15px;
  color: #909090;
  text-decoration: none;
  font-size: 20px;
}

.empleado p {
  text-align: center;
}

.quienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
}

.quienesSomos p {
  text-align: center;
  margin-top: 20px;
}

.mainNosotros h1, .mainNosotros h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  color: #302a7d;
}

.w-width {
  width: 60%;
}

.bodyServicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "encabezado encabezado encabezado"  "main main main"  "footer footer footer";
}

.bannerServicios img {
  width: 100%;
}

.nuestrosServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
}

.nuestrosServicios p {
  text-align: center;
  margin-top: 20px;
}

.mainServicios h1, .mainServicios h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  color: #302a7d;
}

.blog, .blogIzq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.blogIzq {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blog div, .blogIzq div {
  width: 35%;
  margin: auto;
  text-align: start;
}

.blog h2 {
  text-align: left;
}

.blogIzq h2 {
  text-align: right;
}

.blog p {
  text-align: justify;
}

.blogIzq p {
  text-align: justify;
}

.imgServicios {
  width: 600px;
  height: 430px;
  margin: 40px;
}

.bodyClientes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "encabezado encabezado encabezado"  "main main main"  "footer footer footer";
}

.bannerClientes img {
  width: 100%;
}

.nuestrosClientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
}

.mainClientes h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  color: #302a7d;
}

.logosClientes img {
  width: 300px;
  height: 150px;
  margin: 10px;
}

.imgCli001 {
  grid-area: "imgCli001";
}

.imgCli002 {
  grid-area: "imgCli002";
}

.imgCli003 {
  grid-area: "imgCli003";
}

.imgCli004 {
  grid-area: "imgCli004";
}

.imgCli005 {
  grid-area: "imgCli005";
}

.imgCli006 {
  grid-area: "imgCli006";
}

.imgCli007 {
  grid-area: "imgCli007";
}

.imgCli008 {
  grid-area: "imgCli008";
}

.imgCli009 {
  grid-area: "imgCli009";
}

.imgCli010 {
  grid-area: "imgCli010";
}

.imgCli011 {
  grid-area: "imgCli011";
}

.imgCli012 {
  grid-area: "imgCli012";
}

.logosClientes {
  margin: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr, 1fr, 1fr;
      grid-template-columns: 1fr, 1fr, 1fr;
  -ms-grid-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
      grid-template-areas: "imgCli001 imgCli002 imgCli003" "imgCli004 imgCli005 imgCli006" "imgCli007 imgCli008 imgCli009" "imgCli010 imgCli011 imgCli012" "imgCli013 imgCli013 imgCli013";
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logosClientes figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.logosClientes figure:hover::before {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

.imgFigCli001::before, .imgFigCli002::before, .imgFigCli003::before, .imgFigCli004::before, .imgFigCli005::before, .imgFigCli006::before, .imgFigCli007::before, .imgFigCli008::before, .imgFigCli009::before, .imgFigCli010::before, .imgFigCli011::before, .imgFigCli012::before, .imgFigCli013::before {
  content: "CONUAR";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b40f3a6;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.imgFigCli002::before {
  content: "GARMET URUGUAY";
}

.imgFigCli003::before {
  content: "GOYAIKE";
}

.imgFigCli004::before {
  content: "MUNCHIS";
}

.imgFigCli005::before {
  content: "GENTOS ARGENTINA";
}

.imgFigCli006::before {
  content: "GRUPO LA GLORIOSA";
}

.imgFigCli007::before {
  content: "HIDROIL";
}

.imgFigCli008::before {
  content: "CASINOS MAC GROUP";
}

.imgFigCli009::before {
  content: "SANATORIO MATER DEI";
}

.imgFigCli010::before {
  content: "OSDEPYM";
}

.imgFigCli011::before {
  content: "OSTVLA";
}

.imgFigCli012::before {
  content: "GRUPO PEREZ";
}

.imgFigCli013::before {
  content: "ROAGRO";
}

.bodyContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "encabezado encabezado encabezado"  "main main main"  "footer footer footer";
}

.bannerContacto img {
  width: 100%;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 25px auto;
}

.formularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainContacto h1, h2 {
  text-align: center;
  font-size: 25px;
  color: #302a7d;
}

.masInformacionH3 {
  padding: 0px;
  margin-top: 25px;
}

.masInformacion h3 {
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  padding: 0;
}

#h3Index, #h2nosotros, #h1Contacto, #h2Contacto {
  text-align: center;
  font-size: 25px;
  color: #302a7d;
}

.masInformacion iframe {
  margin-top: 25px;
}

.masInformacionH2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.masInformacion {
  border: #302a7d solid 2px;
  padding: 30px;
  margin: auto;
}

.formulariosContacto {
  border: #302a7d solid 2px;
  padding: 30px;
  margin: auto;
}

.formularioContacto label {
  text-align: left;
}

@media (min-width: 1px) and (max-width: 767px) {
  .encabezado {
    height: auto;
  }
  .divIndex001 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pDivIndex001 {
    width: 90%;
  }
  .imagenPrincipal img {
    margin: auto auto;
    width: 90%;
    border-radius: 5px 5px;
  }
  .videoIndex {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .videoIndex iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  footer {
    height: auto;
  }
  .empleado {
    width: 50%;
  }
  .blog, .blogIzq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .blogIzq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog div, .blogIzq div {
    width: 100%;
    margin: auto;
    text-align: start;
  }
  .blog h2 {
    text-align: justify;
  }
  .blogIzq h2 {
    text-align: justify;
  }
  .nuestrosServicios {
    margin-bottom: 15px;
  }
  .imgServicios {
    width: 90%;
    height: auto;
    margin: auto;
  }
  .logosClientes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-areas: "imgCli001" "imgCli002" "imgCli003" "imgCli004" "imgCli005" "imgCli006" "imgCli007" "imgCli008" "imgCli009" "imgCli010" "imgCli011" "imgCli012" "imgCli013";
  }
  .logosClientes img {
    width: 90%;
    height: 150px;
  }
  .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .masInformacion {
    padding: 5px;
  }
  .w-width {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .encabezado {
    height: auto;
  }
  .videoIndex {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .videoIndex iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  footer {
    height: auto;
  }
  .empleado {
    width: 30%;
  }
  .blog, .blogIzq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .blogIzq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog div, .blogIzq div {
    width: 100%;
    margin: auto;
    text-align: start;
  }
  .blog h2 {
    text-align: justify;
  }
  .blogIzq h2 {
    text-align: justify;
  }
  .nuestrosServicios {
    margin-bottom: 15px;
  }
  .logosClientes {
    -ms-grid-columns: 1fr, 1fr;
        grid-template-columns: 1fr, 1fr;
    -ms-grid-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-areas: "imgCli001 imgCli002" "imgCli003 imgCli004" "imgCli005 imgCli006" "imgCli007 imgCli008" "imgCli009 imgCli010" "imgCli011 imgCli012" "imgCli013 imgCli013";
  }
  .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .w-width {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
